
@font-face {
    font-family: 'Lucida Bright';
    src: url(../fonts/LBRITE.TTF);
}

body{
    font-family: 'Lucida Bright';
    font-size: 16px;
    background-color:#FFFFFF;
    color: #863503;
}
.active{
    border-bottom: 1.5px solid #056B11;
    padding-bottom: 5px;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.nav-flex{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.container{
    max-width: 1155px;
    width: 90%;
    margin: 0 auto;
}


/* header */

header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
    background-color:#FFFFFF;
}
header .inner-header nav ul li:not(:first-child){
    margin:55px 0 55px 65px;
}
nav ul li a{
    font-family: 'Lucida Bright';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: #863503;
}
header .inner-header .right-nav .search-bar{
    position: relative;
}
header .inner-header .right-nav .search-bar img{
    position: absolute;
    top: 35%;
    left: 85%;
    transition: .1s ease-in-out;
}
header .inner-header .right-nav .search-bar img:hover{
    transform: scale(1.1);
}
input[type=search]{
    width: 100%;
    padding: 7px;
    border: none;
    border-radius: 10px;
} 
.search-bar:hover{
    box-shadow: 5px 7px 20px #8635034b;
    border-radius: 10px;
}

/* main */

.first-section{
    width: 100%;
}
.coffee-container{
    /* max-width: 1440px; */
    width: 100%;  
    float: right;
    margin-top: 100px;
    padding-bottom: 315px;
    padding-left: 10%;
    background-color: #86350312;
}
.left-side{
    width: 35%;
    gap: 80px;
}
.coffee-logo img{
    display: inline;
}
.coffee-logo img:hover{
    filter: drop-shadow(0.35rem 0.35rem 0.4rem #8635034b);
}
.coffee-container .left-side .coffee-info h2{
    font-family: 'Lucida Bright';
    font-style: normal;
    font-weight: 600;
    font-size: 54px;
    line-height: 64px;
    letter-spacing: 0.02em;
    color: #863503;
    margin: 110px 0 40px 0;
}
.coffee-container .left-side .coffee-info p{
    font-family: 'Lucida Bright';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #863503;
    
}
.coffee-container .coffe-icons{
    position: relative;
    width: 65%;
}
.coffee-container .coffe-icons .ellipse{
    position: absolute;
    z-index: 59;
    width: 80%;
    top: -186px;
    right: 0%;
}
.coffee-container .coffe-icons .coffee-cup-second{
    position: absolute;
    z-index: 69;
}
.coffee-container .coffe-icons .coffee-cup{
    position: absolute;
    z-index: 79;
}
.coffee-container .coffe-icons .coffee{
    position: absolute;
    z-index: 89;
    width: 59%;
    left: 41%;
}
.coffee-container .coffe-icons .coffee:hover{
    filter: drop-shadow(0.35rem 0.35rem 0.4rem rgb(126, 59, 5));
}
.coffee-container .coffe-icons .coffee-cup-second{
    width: 25%;
    top: 2px;
    right: 7%;
}
.coffee-container .coffe-icons .coffee-cup{
    width: 28%;
    top: -145px;
    right: 26%;
}

/* specials section */

.Specials h3{
    font-family: 'Lucida Bright';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
    color: #863503;
    border-bottom: 1.5px solid #056B11;
    padding-bottom: 20px;
    display: inline-block;
}
.specials-boxes{
    margin-top: 90px;
    transition: 1s ease-in-out;
}
.specials-boxes img:hover{
    transform: scale(1.1);
    filter: drop-shadow(0.35rem 0.35rem 0.4rem #86350396);
    cursor: pointer;
}
.specials-boxes .cocoa-box h5{
    font-family: 'Lucida Bright';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #05520D;
    margin-top: 25px;
    transition: .1s ease-in-out;
    cursor: pointer;
}
.specials-boxes .cocoa-box h5:hover{
    filter: drop-shadow(0.35rem 0.35rem 0.4rem #863503e8);

}
.specials-boxes .cocoa-box span{
    font-family: 'Lucida Bright';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #7D0202;
    margin-left: 35px;
}
.cocoa-btn{
    border: 2px solid #05520D;
    border-radius: 15px;
    font-family: 'Lucida Bright';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    padding: 10px 25px;
    margin-bottom:165px ;
    margin-top: 60px;
    margin-left: 85%;
    cursor: pointer;
    transition: .3s ease-in-out;
}
.cocoa-btn:hover{
    background-color: #8635034f;
}

/* footer */
footer{
    background: #B78A6D3D;
}
.footer-info{
    max-width: 1155px;
    width: 90%;
    margin: 0 auto;
    gap: 10%;
}
.footer-socials{
    padding: 100px 0 75px 0;
    width: 145px;
}
.footer-socials svg{
    cursor: pointer;
}
.footer-socials svg:hover{
    transform: scale(1.1);
}
.footer-info .left-side {
    width: 50%;
}
.left-side h4{
    font-family: 'Lucida Bright';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #400404;
    padding-bottom: 35px;
}
.footer-info .right-side{
    gap: 130px;
    padding-top: 40px;
}
.footer-info .right-side h5{
    font-family: 'Lucida Bright';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #05520D;
    padding-bottom:45px ;
}
.footer-info .right-side li {
    padding-bottom: 30px;
}
.footer-info .right-side a{
    font-family: 'Lucida Bright';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: #863503;
}